*{
    /* border: 1px solid; */
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
:root{
    --background: rgb(222, 222, 222);
    --button: rgb(235, 235, 235);
    --task:rgb(235, 235, 235);
}
body{
    background-color: rgb(91, 86, 86);
    display: flex;
    justify-content: center;
}
.mainContainer{
    background-color: var(--background);
    border-radius: 10px;
    padding: 1em;
    height: max-content;
}
button, input{
    padding: 1em;
}
h1{
    color: rgb(0, 0, 0);
}
button{
    cursor: pointer;
}
#clearTask, #addTask, #inputTask{
    color: rgb(5, 4, 4);
    border: none;
    border-radius: 10px;
    background-color: var(--button)
}
.task{
    background-color: var(--task);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1em;
}
.listedTask{
    border: none;
    background-color: var(--task);
}
.removeButton, .changeButton{
    border: none;
    border-radius: 100%;
}
.removeButton{
    background-color: rgb(223, 5, 5);
}
.changeButton{
    background-color: rgb(8, 207, 18);
}
#warningMessage {
    color: red;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
